*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main #agency .head h1{
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
}
main #agency .head h4{
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}
.row{
    display: flex;
    margin-left: 270px;
}
.row2{
    display: flex;
    margin-left: 100px;

}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
main #colls .row .col-3{
    background-color: rgb(2, 201, 134);
    margin-top: 55px;
    margin-left: 1px;
    
    height: 230px;
}
main #colls .row .col-3 h3{
    margin-top: 15px;
    color: white;
    margin-left: 30px;
}
main #colls .row .col-3 h4{
    margin-top: 15px;
    color: white;
    margin-left: 30px;


}
main #colls .row .col-3 a{
    color: white;
    margin-left: 30px;
}
main #colls .row .col-3 p{
    color: white;
    margin-left: 30px;
    margin-top: 20px;
   
}
main #colls .row .col-3{
    margin-top: 20px;
    padding: 10px;
}

main #colls .row .white{
    background-color: white;
    width: 25%;
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    padding: 75px;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
  
}
main #colls .row .photo{
    background-color: orange;
    width: 25%;
    margin-top: 20px;
    color: white;
    padding: 20px;

}
main #colls .row .photo h3{
    margin-top: 15px;
    color: white;
    margin-left: 30px;
   
}
main #colls .row .photo h4{
    margin-top: 15px;
    color: white;
    margin-left: 30px;


}
main #colls .row .photo a{
    color: white;
    margin-left: 30px;
    margin-top: 30px;
}
main #colls .row .photo p{
    color: white;
    margin-left: 30px;
    margin-top: 10px;
    
}
main #colls2 .row2 .white2{
    background-color: white;
    width: 22%;
    margin-top: 0px;
    margin-left: 170px;
    font-size: 50px;
    text-align: center;
    padding: 75px;
    border: 1px solid gray;
   height: 230px;
   border-top: none;
}

main #colls2 .row2 .blue{
    background-color: blue;
    width: 22%;
    margin-top: 0px;
    
    color: white;
    padding: 18px;
    margin-left: 0px;

}
main #colls2 .row2 .blue h4{
    margin-top: 20px;
}
main #colls2 .row2 .blue p{
    margin-top: 20px;
}
main #colls2 .row2 .blue a{
    margin-top: 20px;
    color: white;
}
main #colls2 .row2 .icon3{
    background-color: white;
    width: 22%;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 50px;
    text-align: center;
    padding: 75px;
    border: 1px solid gray;
   height: 230px;
   border-top: none;

}
